<?xml version="1.0" ?>
<GameStates>
    <StartMenuState>
    </StartMenuState>

    <PlayState mapID="0201">
    </PlayState>

    <PauseState>
        <MenuResumeButton/>
        <MenuMainButton/>
    </PauseState>

</GameStates>

<GameObjects>
    <MenuPlayButton x="10" y="10" width="400" height="100" textureID="PLAY_BTN" callback="cbChangeToPlayState"/>
    <MenuExitButton x="10" y="200" width="400" height="100" textureID="EXIT_BTN" callback="cbExit"/>
    <MenuResumeButton x="10" y="10" width="200"  height="80" textureID="RESUME_BTN" callback="cbResume" />
    <MenuMainButton x="10" y="200" width="200" height="80" textureID="MAIN_BTN" callback="cbChangeToStartMenuState"/>

    <Entrance x="10" y="200" width="200" height="80" textureID="MAIN_BTN" callback="cbChangeToStartMenuState"/>
    <Player id="-1" x="10" y="200" width="101" height="43" lives="4" textureID="HELICOPTER" friction="0.9" acceleration="12.0"
            waitFireTime="200"/>
    <NPCharacters>
        <NPCharacter code="N？？？"/>
        <NPCharacter code="N布店老板"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N传送古树"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N次元箱"/>
        <NPCharacter code="N村长"/>
        <NPCharacter code="N村大夫"/>
        <NPCharacter code="N村民"/>
        <NPCharacter code="N村民"/>
        <NPCharacter code="N村民1"/>
        <NPCharacter code="N村民1"/>
        <NPCharacter code="N村民2"/>
        <NPCharacter code="N村民2"/>
        <NPCharacter code="N村民3"/>
        <NPCharacter code="N当铺伙计"/>
        <NPCharacter code="N店小二"/>
        <NPCharacter code="N鬼老"/>
        <NPCharacter code="N和尚"/>
        <NPCharacter code="N回收员"/>
        <NPCharacter code="N极域使者"/>
        <NPCharacter code="N监狱看守"/>
        <NPCharacter code="N酒店老板"/>
        <NPCharacter code="N酒店侍女"/>
        <NPCharacter code="N看守1"/>
        <NPCharacter code="N看守2"/>
        <NPCharacter code="N看守3"/>
        <NPCharacter code="N看守4"/>
        <NPCharacter code="N看守5"/>
        <NPCharacter code="N看守6"/>
        <NPCharacter code="N看守7"/>
        <NPCharacter code="N看守8"/>
        <NPCharacter code="N老村长"/>
        <NPCharacter code="N老刘头"/>
        <NPCharacter code="N老人"/>
        <NPCharacter code="N李裁缝"/>
        <NPCharacter code="N李氏"/>
        <NPCharacter code="N李秀才"/>
        <NPCharacter code="N刘伯"/>
        <NPCharacter code="N刘二虎"/>
        <NPCharacter code="N刘二虎妻"/>
        <NPCharacter code="N刘寡妇"/>
        <NPCharacter code="N刘靖"/>
        <NPCharacter code="N鲁巴"/>
        <NPCharacter code="N墓神"/>
        <NPCharacter code="N农家"/>
        <NPCharacter code="N女孩"/>
        <NPCharacter code="N齐扬布店"/>
        <NPCharacter code="N齐扬怪医"/>
        <NPCharacter code="N齐扬铁匠"/>
        <NPCharacter code="N莎亚"/>
        <NPCharacter code="N山谷村长"/>
        <NPCharacter code="N商人"/>
        <NPCharacter code="N神秘老人"/>
        <NPCharacter code="N神秘老人"/>
        <NPCharacter code="N神秘老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N试炼老人"/>
        <NPCharacter code="N收栗人"/>
        <NPCharacter code="N收栗人妻"/>
        <NPCharacter code="N孙大夫"/>
        <NPCharacter code="N孙有财"/>
        <NPCharacter code="N铁匠"/>
        <NPCharacter code="N铁匠"/>
        <NPCharacter code="N铁匠"/>
        <NPCharacter code="N王裁缝"/>
        <NPCharacter code="N王二"/>
        <NPCharacter code="N王铁匠"/>
        <NPCharacter code="N钨姆"/>
        <NPCharacter code="N钨帕"/>
        <NPCharacter code="N无极道人"/>
        <NPCharacter code="N无双使者"/>
        <NPCharacter code="N吴乾"/>
        <NPCharacter code="N吴乾"/>
        <NPCharacter code="N小贩"/>
        <NPCharacter code="N新月村长"/>
        <NPCharacter code="N新月大夫"/>
        <NPCharacter code="N新月铁匠"/>
        <NPCharacter code="N绣蓝"/>
        <NPCharacter code="N伊佳"/>
        <NPCharacter code="N伊哇"/>
        <NPCharacter code="N引路人"/>
        <NPCharacter code="N尤伊"/>
        <NPCharacter code="N渔夫"/>
        <NPCharacter code="N渔夫"/>
        <NPCharacter code="N杂货商"/>
        <NPCharacter code="N扎克族长"/>
        <NPCharacter code="N张宝"/>
        <NPCharacter code="N张宝"/>
        <NPCharacter code="N张宝"/>
        <NPCharacter code="N张裁缝"/>
        <NPCharacter code="N张三"/>
        <NPCharacter code="N镇安村长"/>
    </NPCharacters>

    <Monster />

    <PlayerBullet textureID="BULLET_ONE" x="0" y="0" width="11" height="11" damage="2" speed="24"/>
    <EnemyBullet textureID="BULLET_TWO" x="0" y="0" width="16" height="16" damage="2"/>

    <Legend x="0" y="0" height="10" width="40"/>

</GameObjects>

<Textures folder="/home/wenfeng/Desktop/LPFCQDJB31/Date" >
    <PackedImages id="FLOOR" binaryPath="Floor.dat" offsetsPath="Floor.mxx" />
    <PackedImages id="GAME" binaryPath="Game.dat" offsetsPath="Game.mxx" />
    <PackedImages id="FJ_1" binaryPath="Fj\1.dat" offsetsPath="Fj\1.mxx" />
    <PackedImages id="FJ_2" binaryPath="Fj\2.dat" offsetsPath="Fj\2.mxx" />
    <PackedImages id="FJ_3" binaryPath="Fj\3.dat" offsetsPath="Fj\3.mxx" />
    <PackedImages id="FJ_4" binaryPath="Fj\4.dat" offsetsPath="Fj\4.mxx" />
    <Texture id="BTN_SYSTEM_1" path="Button\Bt11.dat" />
    <Texture id="BTN_SYSTEM_2" path="Button\Bt12.dat" />
    <Texture id="BTN_PROPERTY_1" path="Button\Bt21.dat" />
    <Texture id="BTN_PROPERTY_2" path="Button\Bt21.dat" />
    <Texture id="BTN_ITEM_1" path="Button\Bt31.dat" />
    <Texture id="BTN_ITEM_2" path="Button\Bt31.dat" />

    <!-- numbers -->
    <Texture id="NUMBER_0" path="Number\0.bmp" />
    <Texture id="NUMBER_1" path="Number\1.bmp" />
    <Texture id="NUMBER_2" path="Number\2.bmp" />
    <Texture id="NUMBER_3" path="Number\3.bmp" />
    <Texture id="NUMBER_4" path="Number\4.bmp" />
    <Texture id="NUMBER_5" path="Number\5.bmp" />
    <Texture id="NUMBER_6" path="Number\6.bmp" />
    <Texture id="NUMBER_7" path="Number\7.bmp" />
    <Texture id="NUMBER_8" path="Number\8.bmp" />
    <Texture id="NUMBER_9" path="Number\9.bmp" />
    <Texture id="NUMBER_10" path="Number\10.bmp" />

    <!-- RPG -->
    <PackedImages id="RPG_1" binaryPath="Rpg\1.Dat" offsetsPath="Rpg\1.Mxx"/>

    <!--Weapon-->
    <PackedImages id="WEA_001" binaryPath="Weapon\1.Dat" offsetsPath="Weapon\1.Mxx" />
    <PackedImages id="WEA_002" binaryPath="Weapon\2.Dat" offsetsPath="Weapon\2.Mxx" />
    <PackedImages id="WEA_003" binaryPath="Weapon\3.Dat" offsetsPath="Weapon\3.Mxx" />
    <PackedImages id="WEA_004" binaryPath="Weapon\4.Dat" offsetsPath="Weapon\4.Mxx" />
    <PackedImages id="WEA_005" binaryPath="Weapon\5.Dat" offsetsPath="Weapon\5.Mxx" />
    <PackedImages id="WEA_006" binaryPath="Weapon\6.Dat" offsetsPath="Weapon\6.Mxx" />
    <PackedImages id="WEA_007" binaryPath="Weapon\7.Dat" offsetsPath="Weapon\7.Mxx" />
    <PackedImages id="WEA_008" binaryPath="Weapon\8.Dat" offsetsPath="Weapon\8.Mxx" />
    <PackedImages id="WEA_009" binaryPath="Weapon\9.Dat" offsetsPath="Weapon\9.Mxx" />
    <PackedImages id="WEA_010" binaryPath="Weapon\10.Dat" offsetsPath="Weapon\10.Mxx" />
    <PackedImages id="WEA_011" binaryPath="Weapon\11.Dat" offsetsPath="Weapon\11.Mxx" />
    <PackedImages id="WEA_012" binaryPath="Weapon\12.Dat" offsetsPath="Weapon\12.Mxx" />
    <PackedImages id="WEA_013" binaryPath="Weapon\13.Dat" offsetsPath="Weapon\13.Mxx" />
    <PackedImages id="WEA_014" binaryPath="Weapon\14.Dat" offsetsPath="Weapon\14.Mxx" />
    <PackedImages id="WEA_015" binaryPath="Weapon\15.Dat" offsetsPath="Weapon\15.Mxx" />
    <PackedImages id="WEA_016" binaryPath="Weapon\16.Dat" offsetsPath="Weapon\16.Mxx" />
    <PackedImages id="WEA_017" binaryPath="Weapon\17.Dat" offsetsPath="Weapon\17.Mxx" />
    <PackedImages id="WEA_018" binaryPath="Weapon\18.Dat" offsetsPath="Weapon\18.Mxx" />
    <PackedImages id="WEA_019" binaryPath="Weapon\19.Dat" offsetsPath="Weapon\19.Mxx" />
    <PackedImages id="WEA_020" binaryPath="Weapon\20.Dat" offsetsPath="Weapon\20.Mxx" />
    <PackedImages id="WEA_021" binaryPath="Weapon\21.Dat" offsetsPath="Weapon\21.Mxx" />
    <PackedImages id="WEA_022" binaryPath="Weapon\22.Dat" offsetsPath="Weapon\22.Mxx" />
    <PackedImages id="WEA_023" binaryPath="Weapon\23.Dat" offsetsPath="Weapon\23.Mxx" />
    <PackedImages id="WEA_024" binaryPath="Weapon\24.Dat" offsetsPath="Weapon\24.Mxx" />
    <PackedImages id="WEA_025" binaryPath="Weapon\25.Dat" offsetsPath="Weapon\25.Mxx" />
    <PackedImages id="WEA_026" binaryPath="Weapon\26.Dat" offsetsPath="Weapon\26.Mxx" />
    <PackedImages id="WEA_027" binaryPath="Weapon\27.Dat" offsetsPath="Weapon\27.Mxx" />
    <PackedImages id="WEA_028" binaryPath="Weapon\28.Dat" offsetsPath="Weapon\28.Mxx" />
    <PackedImages id="WEA_029" binaryPath="Weapon\29.Dat" offsetsPath="Weapon\29.Mxx" />
    <PackedImages id="WEA_030" binaryPath="Weapon\30.Dat" offsetsPath="Weapon\30.Mxx" />
    <PackedImages id="WEA_031" binaryPath="Weapon\31.Dat" offsetsPath="Weapon\31.Mxx" />
    <PackedImages id="WEA_032" binaryPath="Weapon\32.Dat" offsetsPath="Weapon\32.Mxx" />
    <PackedImages id="WEA_033" binaryPath="Weapon\33.Dat" offsetsPath="Weapon\33.Mxx" />
    <PackedImages id="WEA_034" binaryPath="Weapon\34.Dat" offsetsPath="Weapon\34.Mxx" />
    <PackedImages id="WEA_035" binaryPath="Weapon\35.Dat" offsetsPath="Weapon\35.Mxx" />
    <PackedImages id="WEA_036" binaryPath="Weapon\36.Dat" offsetsPath="Weapon\36.Mxx" />
    <PackedImages id="WEA_037" binaryPath="Weapon\37.Dat" offsetsPath="Weapon\37.Mxx" />
    <PackedImages id="WEA_038" binaryPath="Weapon\38.Dat" offsetsPath="Weapon\38.Mxx" />
    <PackedImages id="WEA_039" binaryPath="Weapon\39.Dat" offsetsPath="Weapon\39.Mxx" />
    <PackedImages id="WEA_040" binaryPath="Weapon\40.Dat" offsetsPath="Weapon\40.Mxx" />
    <PackedImages id="WEA_041" binaryPath="Weapon\41.Dat" offsetsPath="Weapon\41.Mxx" />
    <PackedImages id="WEA_042" binaryPath="Weapon\42.Dat" offsetsPath="Weapon\42.Mxx" />
    <PackedImages id="WEA_043" binaryPath="Weapon\43.Dat" offsetsPath="Weapon\43.Mxx" />
    <PackedImages id="WEA_044" binaryPath="Weapon\44.Dat" offsetsPath="Weapon\44.Mxx" />
    <PackedImages id="WEA_045" binaryPath="Weapon\45.Dat" offsetsPath="Weapon\45.Mxx" />
    <PackedImages id="WEA_046" binaryPath="Weapon\46.Dat" offsetsPath="Weapon\46.Mxx" />
    <PackedImages id="WEA_047" binaryPath="Weapon\47.Dat" offsetsPath="Weapon\47.Mxx" />
    <PackedImages id="WEA_048" binaryPath="Weapon\48.Dat" offsetsPath="Weapon\48.Mxx" />
    <PackedImages id="WEA_049" binaryPath="Weapon\49.Dat" offsetsPath="Weapon\49.Mxx" />
    <PackedImages id="WEA_050" binaryPath="Weapon\50.Dat" offsetsPath="Weapon\50.Mxx" />
    <PackedImages id="WEA_051" binaryPath="Weapon\51.Dat" offsetsPath="Weapon\51.Mxx" />
    <PackedImages id="WEA_052" binaryPath="Weapon\52.Dat" offsetsPath="Weapon\52.Mxx" />
    <PackedImages id="WEA_053" binaryPath="Weapon\53.Dat" offsetsPath="Weapon\53.Mxx" />
    <PackedImages id="WEA_054" binaryPath="Weapon\54.Dat" offsetsPath="Weapon\54.Mxx" />
    <PackedImages id="WEA_055" binaryPath="Weapon\55.Dat" offsetsPath="Weapon\55.Mxx" />
    <PackedImages id="WEA_056" binaryPath="Weapon\56.Dat" offsetsPath="Weapon\56.Mxx" />
    <PackedImages id="WEA_057" binaryPath="Weapon\57.Dat" offsetsPath="Weapon\57.Mxx" />
    <PackedImages id="WEA_058" binaryPath="Weapon\58.Dat" offsetsPath="Weapon\58.Mxx" />
    <PackedImages id="WEA_059" binaryPath="Weapon\59.Dat" offsetsPath="Weapon\59.Mxx" />
    <PackedImages id="WEA_060" binaryPath="Weapon\60.Dat" offsetsPath="Weapon\60.Mxx" />
    <PackedImages id="WEA_061" binaryPath="Weapon\61.Dat" offsetsPath="Weapon\61.Mxx" />
    <PackedImages id="WEA_062" binaryPath="Weapon\62.Dat" offsetsPath="Weapon\62.Mxx" />
    <PackedImages id="WEA_063" binaryPath="Weapon\63.Dat" offsetsPath="Weapon\63.Mxx" />
    <PackedImages id="WEA_064" binaryPath="Weapon\64.Dat" offsetsPath="Weapon\64.Mxx" />
    <PackedImages id="WEA_065" binaryPath="Weapon\65.Dat" offsetsPath="Weapon\65.Mxx" />
    <PackedImages id="WEA_066" binaryPath="Weapon\66.Dat" offsetsPath="Weapon\66.Mxx" />
    <PackedImages id="WEA_067" binaryPath="Weapon\67.Dat" offsetsPath="Weapon\67.Mxx" />
    <PackedImages id="WEA_068" binaryPath="Weapon\68.Dat" offsetsPath="Weapon\68.Mxx" />
    <PackedImages id="WEA_069" binaryPath="Weapon\69.Dat" offsetsPath="Weapon\69.Mxx" />
    <PackedImages id="WEA_070" binaryPath="Weapon\70.Dat" offsetsPath="Weapon\70.Mxx" />
    <PackedImages id="WEA_071" binaryPath="Weapon\71.Dat" offsetsPath="Weapon\71.Mxx" />
    <PackedImages id="WEA_072" binaryPath="Weapon\72.Dat" offsetsPath="Weapon\72.Mxx" />
    <PackedImages id="WEA_073" binaryPath="Weapon\73.Dat" offsetsPath="Weapon\73.Mxx" />
    <PackedImages id="WEA_074" binaryPath="Weapon\74.Dat" offsetsPath="Weapon\74.Mxx" />
    <PackedImages id="WEA_075" binaryPath="Weapon\75.Dat" offsetsPath="Weapon\75.Mxx" />
    <PackedImages id="WEA_076" binaryPath="Weapon\76.Dat" offsetsPath="Weapon\76.Mxx" />
    <PackedImages id="WEA_077" binaryPath="Weapon\77.Dat" offsetsPath="Weapon\77.Mxx" />
    <PackedImages id="WEA_078" binaryPath="Weapon\78.Dat" offsetsPath="Weapon\78.Mxx" />
    <PackedImages id="WEA_079" binaryPath="Weapon\79.Dat" offsetsPath="Weapon\79.Mxx" />
    <PackedImages id="WEA_080" binaryPath="Weapon\80.Dat" offsetsPath="Weapon\80.Mxx" />

    <!-- NPC -->
    <PackedImages id="NPC_001" binaryPath="Npc\1.Dat" offsetsPath="Npc\1.Mxx" />
    <PackedImages id="NPC_002" binaryPath="Npc\2.Dat" offsetsPath="Npc\2.Mxx" />
    <PackedImages id="NPC_003" binaryPath="Npc\3.Dat" offsetsPath="Npc\3.Mxx" />
    <PackedImages id="NPC_004" binaryPath="Npc\4.Dat" offsetsPath="Npc\4.Mxx" />
    <PackedImages id="NPC_005" binaryPath="Npc\5.Dat" offsetsPath="Npc\5.Mxx" />
    <PackedImages id="NPC_006" binaryPath="Npc\6.Dat" offsetsPath="Npc\6.Mxx" />
    <PackedImages id="NPC_007" binaryPath="Npc\7.Dat" offsetsPath="Npc\7.Mxx" />
    <PackedImages id="NPC_008" binaryPath="Npc\8.Dat" offsetsPath="Npc\8.Mxx" />
    <PackedImages id="NPC_009" binaryPath="Npc\9.Dat" offsetsPath="Npc\9.Mxx" />
    <PackedImages id="NPC_010" binaryPath="Npc\10.Dat" offsetsPath="Npc\10.Mxx" />
    <PackedImages id="NPC_011" binaryPath="Npc\11.Dat" offsetsPath="Npc\11.Mxx" />
    <PackedImages id="NPC_012" binaryPath="Npc\12.Dat" offsetsPath="Npc\12.Mxx" />
    <PackedImages id="NPC_013" binaryPath="Npc\13.Dat" offsetsPath="Npc\13.Mxx" />
    <PackedImages id="NPC_014" binaryPath="Npc\14.Dat" offsetsPath="Npc\14.Mxx" />
    <PackedImages id="NPC_015" binaryPath="Npc\15.Dat" offsetsPath="Npc\15.Mxx" />
    <PackedImages id="NPC_016" binaryPath="Npc\16.Dat" offsetsPath="Npc\16.Mxx" />
    <PackedImages id="NPC_017" binaryPath="Npc\17.Dat" offsetsPath="Npc\17.Mxx" />
    <PackedImages id="NPC_018" binaryPath="Npc\18.Dat" offsetsPath="Npc\18.Mxx" />
    <PackedImages id="NPC_019" binaryPath="Npc\19.Dat" offsetsPath="Npc\19.Mxx" />
    <PackedImages id="NPC_020" binaryPath="Npc\20.Dat" offsetsPath="Npc\20.Mxx" />
    <PackedImages id="NPC_021" binaryPath="Npc\21.Dat" offsetsPath="Npc\21.Mxx" />
    <PackedImages id="NPC_022" binaryPath="Npc\22.Dat" offsetsPath="Npc\22.Mxx" />
    <PackedImages id="NPC_023" binaryPath="Npc\23.Dat" offsetsPath="Npc\23.Mxx" />
    <PackedImages id="NPC_024" binaryPath="Npc\24.Dat" offsetsPath="Npc\24.Mxx" />
    <PackedImages id="NPC_025" binaryPath="Npc\25.Dat" offsetsPath="Npc\25.Mxx" />
    <PackedImages id="NPC_026" binaryPath="Npc\26.Dat" offsetsPath="Npc\26.Mxx" />
    <PackedImages id="NPC_027" binaryPath="Npc\27.Dat" offsetsPath="Npc\27.Mxx" />
    <PackedImages id="NPC_028" binaryPath="Npc\28.Dat" offsetsPath="Npc\28.Mxx" />
    <PackedImages id="NPC_029" binaryPath="Npc\29.Dat" offsetsPath="Npc\29.Mxx" />
    <PackedImages id="NPC_030" binaryPath="Npc\30.Dat" offsetsPath="Npc\30.Mxx" />
    <PackedImages id="NPC_031" binaryPath="Npc\31.Dat" offsetsPath="Npc\31.Mxx" />
    <PackedImages id="NPC_032" binaryPath="Npc\32.Dat" offsetsPath="Npc\32.Mxx" />
    <PackedImages id="NPC_033" binaryPath="Npc\33.Dat" offsetsPath="Npc\33.Mxx" />
    <PackedImages id="NPC_034" binaryPath="Npc\34.Dat" offsetsPath="Npc\34.Mxx" />
    <PackedImages id="NPC_035" binaryPath="Npc\35.Dat" offsetsPath="Npc\35.Mxx" />
    <PackedImages id="NPC_036" binaryPath="Npc\36.Dat" offsetsPath="Npc\36.Mxx" />
    <PackedImages id="NPC_037" binaryPath="Npc\37.Dat" offsetsPath="Npc\37.Mxx" />
    <PackedImages id="NPC_038" binaryPath="Npc\38.Dat" offsetsPath="Npc\38.Mxx" />
    <PackedImages id="NPC_039" binaryPath="Npc\39.Dat" offsetsPath="Npc\39.Mxx" />
    <PackedImages id="NPC_040" binaryPath="Npc\40.Dat" offsetsPath="Npc\40.Mxx" />
    <PackedImages id="NPC_041" binaryPath="Npc\41.Dat" offsetsPath="Npc\41.Mxx" />
    <PackedImages id="NPC_042" binaryPath="Npc\42.Dat" offsetsPath="Npc\42.Mxx" />
    <PackedImages id="NPC_043" binaryPath="Npc\43.Dat" offsetsPath="Npc\43.Mxx" />
    <PackedImages id="NPC_044" binaryPath="Npc\44.Dat" offsetsPath="Npc\44.Mxx" />
    <PackedImages id="NPC_045" binaryPath="Npc\45.Dat" offsetsPath="Npc\45.Mxx" />
    <PackedImages id="NPC_046" binaryPath="Npc\46.Dat" offsetsPath="Npc\46.Mxx" />
    <PackedImages id="NPC_047" binaryPath="Npc\47.Dat" offsetsPath="Npc\47.Mxx" />
    <PackedImages id="NPC_048" binaryPath="Npc\48.Dat" offsetsPath="Npc\48.Mxx" />
    <PackedImages id="NPC_049" binaryPath="Npc\49.Dat" offsetsPath="Npc\49.Mxx" />
    <PackedImages id="NPC_050" binaryPath="Npc\50.Dat" offsetsPath="Npc\50.Mxx" />
    <PackedImages id="NPC_051" binaryPath="Npc\51.Dat" offsetsPath="Npc\51.Mxx" />
    <PackedImages id="NPC_052" binaryPath="Npc\52.Dat" offsetsPath="Npc\52.Mxx" />
    <PackedImages id="NPC_053" binaryPath="Npc\53.Dat" offsetsPath="Npc\53.Mxx" />

    <!--Monster-->
    <PackedImages id="MON_001" binaryPath="Mon\1.Dat" offsetsPath="Mon\1.Mxx" />
    <PackedImages id="MON_002" binaryPath="Mon\2.Dat" offsetsPath="Mon\2.Mxx" />
    <PackedImages id="MON_003" binaryPath="Mon\3.Dat" offsetsPath="Mon\3.Mxx" />
    <PackedImages id="MON_004" binaryPath="Mon\4.Dat" offsetsPath="Mon\4.Mxx" />
    <PackedImages id="MON_005" binaryPath="Mon\5.Dat" offsetsPath="Mon\5.Mxx" />
    <PackedImages id="MON_006" binaryPath="Mon\6.Dat" offsetsPath="Mon\6.Mxx" />
    <PackedImages id="MON_007" binaryPath="Mon\7.Dat" offsetsPath="Mon\7.Mxx" />
    <PackedImages id="MON_008" binaryPath="Mon\8.Dat" offsetsPath="Mon\8.Mxx" />
    <PackedImages id="MON_009" binaryPath="Mon\9.Dat" offsetsPath="Mon\9.Mxx" />
    <PackedImages id="MON_010" binaryPath="Mon\10.Dat" offsetsPath="Mon\10.Mxx" />
    <PackedImages id="MON_011" binaryPath="Mon\11.Dat" offsetsPath="Mon\11.Mxx" />
    <PackedImages id="MON_012" binaryPath="Mon\12.Dat" offsetsPath="Mon\12.Mxx" />
    <PackedImages id="MON_013" binaryPath="Mon\13.Dat" offsetsPath="Mon\13.Mxx" />
    <PackedImages id="MON_014" binaryPath="Mon\14.Dat" offsetsPath="Mon\14.Mxx" />
    <PackedImages id="MON_015" binaryPath="Mon\15.Dat" offsetsPath="Mon\15.Mxx" />
    <PackedImages id="MON_016" binaryPath="Mon\16.Dat" offsetsPath="Mon\16.Mxx" />
    <PackedImages id="MON_017" binaryPath="Mon\17.Dat" offsetsPath="Mon\17.Mxx" />
    <PackedImages id="MON_018" binaryPath="Mon\18.Dat" offsetsPath="Mon\18.Mxx" />
    <PackedImages id="MON_019" binaryPath="Mon\19.Dat" offsetsPath="Mon\19.Mxx" />
    <PackedImages id="MON_020" binaryPath="Mon\20.Dat" offsetsPath="Mon\20.Mxx" />
    <PackedImages id="MON_021" binaryPath="Mon\21.Dat" offsetsPath="Mon\21.Mxx" />
    <PackedImages id="MON_022" binaryPath="Mon\22.Dat" offsetsPath="Mon\22.Mxx" />
    <PackedImages id="MON_023" binaryPath="Mon\23.Dat" offsetsPath="Mon\23.Mxx" />
    <PackedImages id="MON_024" binaryPath="Mon\24.Dat" offsetsPath="Mon\24.Mxx" />
    <PackedImages id="MON_025" binaryPath="Mon\25.Dat" offsetsPath="Mon\25.Mxx" />
    <PackedImages id="MON_026" binaryPath="Mon\26.Dat" offsetsPath="Mon\26.Mxx" />
    <PackedImages id="MON_027" binaryPath="Mon\27.Dat" offsetsPath="Mon\27.Mxx" />
    <PackedImages id="MON_028" binaryPath="Mon\28.Dat" offsetsPath="Mon\28.Mxx" />
    <PackedImages id="MON_029" binaryPath="Mon\29.Dat" offsetsPath="Mon\29.Mxx" />
    <PackedImages id="MON_030" binaryPath="Mon\30.Dat" offsetsPath="Mon\30.Mxx" />
    <PackedImages id="MON_031" binaryPath="Mon\31.Dat" offsetsPath="Mon\31.Mxx" />
    <PackedImages id="MON_032" binaryPath="Mon\32.Dat" offsetsPath="Mon\32.Mxx" />
    <PackedImages id="MON_033" binaryPath="Mon\33.Dat" offsetsPath="Mon\33.Mxx" />
    <PackedImages id="MON_034" binaryPath="Mon\34.Dat" offsetsPath="Mon\34.Mxx" />
    <PackedImages id="MON_035" binaryPath="Mon\35.Dat" offsetsPath="Mon\35.Mxx" />
    <PackedImages id="MON_036" binaryPath="Mon\36.Dat" offsetsPath="Mon\36.Mxx" />
    <PackedImages id="MON_037" binaryPath="Mon\37.Dat" offsetsPath="Mon\37.Mxx" />
    <PackedImages id="MON_038" binaryPath="Mon\38.Dat" offsetsPath="Mon\38.Mxx" />
    <PackedImages id="MON_039" binaryPath="Mon\39.Dat" offsetsPath="Mon\39.Mxx" />
    <PackedImages id="MON_040" binaryPath="Mon\40.Dat" offsetsPath="Mon\40.Mxx" />
    <PackedImages id="MON_041" binaryPath="Mon\41.Dat" offsetsPath="Mon\41.Mxx" />
    <PackedImages id="MON_042" binaryPath="Mon\42.Dat" offsetsPath="Mon\42.Mxx" />
    <PackedImages id="MON_043" binaryPath="Mon\43.Dat" offsetsPath="Mon\43.Mxx" />
    <PackedImages id="MON_044" binaryPath="Mon\44.Dat" offsetsPath="Mon\44.Mxx" />
    <PackedImages id="MON_045" binaryPath="Mon\45.Dat" offsetsPath="Mon\45.Mxx" />
    <PackedImages id="MON_046" binaryPath="Mon\46.Dat" offsetsPath="Mon\46.Mxx" />
    <PackedImages id="MON_047" binaryPath="Mon\47.Dat" offsetsPath="Mon\47.Mxx" />
    <PackedImages id="MON_048" binaryPath="Mon\48.Dat" offsetsPath="Mon\48.Mxx" />
    <PackedImages id="MON_049" binaryPath="Mon\49.Dat" offsetsPath="Mon\49.Mxx" />
    <PackedImages id="MON_050" binaryPath="Mon\50.Dat" offsetsPath="Mon\50.Mxx" />
    <PackedImages id="MON_051" binaryPath="Mon\51.Dat" offsetsPath="Mon\51.Mxx" />
    <PackedImages id="MON_052" binaryPath="Mon\52.Dat" offsetsPath="Mon\52.Mxx" />
    <PackedImages id="MON_053" binaryPath="Mon\53.Dat" offsetsPath="Mon\53.Mxx" />
    <PackedImages id="MON_054" binaryPath="Mon\54.Dat" offsetsPath="Mon\54.Mxx" />
    <PackedImages id="MON_055" binaryPath="Mon\55.Dat" offsetsPath="Mon\55.Mxx" />
    <PackedImages id="MON_056" binaryPath="Mon\56.Dat" offsetsPath="Mon\56.Mxx" />
    <PackedImages id="MON_057" binaryPath="Mon\57.Dat" offsetsPath="Mon\57.Mxx" />
    <PackedImages id="MON_058" binaryPath="Mon\58.Dat" offsetsPath="Mon\58.Mxx" />
    <PackedImages id="MON_059" binaryPath="Mon\59.Dat" offsetsPath="Mon\59.Mxx" />
    <PackedImages id="MON_060" binaryPath="Mon\60.Dat" offsetsPath="Mon\60.Mxx" />
    <PackedImages id="MON_061" binaryPath="Mon\61.Dat" offsetsPath="Mon\61.Mxx" />
    <PackedImages id="MON_062" binaryPath="Mon\62.Dat" offsetsPath="Mon\62.Mxx" />
    <PackedImages id="MON_063" binaryPath="Mon\63.Dat" offsetsPath="Mon\63.Mxx" />
    <PackedImages id="MON_064" binaryPath="Mon\64.Dat" offsetsPath="Mon\64.Mxx" />
    <PackedImages id="MON_065" binaryPath="Mon\65.Dat" offsetsPath="Mon\65.Mxx" />
    <PackedImages id="MON_066" binaryPath="Mon\66.Dat" offsetsPath="Mon\66.Mxx" />
    <PackedImages id="MON_067" binaryPath="Mon\67.Dat" offsetsPath="Mon\67.Mxx" />
    <PackedImages id="MON_068" binaryPath="Mon\68.Dat" offsetsPath="Mon\68.Mxx" />
    <PackedImages id="MON_069" binaryPath="Mon\69.Dat" offsetsPath="Mon\69.Mxx" />
    <PackedImages id="MON_070" binaryPath="Mon\70.Dat" offsetsPath="Mon\70.Mxx" />
    <PackedImages id="MON_071" binaryPath="Mon\71.Dat" offsetsPath="Mon\71.Mxx" />
    <PackedImages id="MON_072" binaryPath="Mon\72.Dat" offsetsPath="Mon\72.Mxx" />
    <PackedImages id="MON_073" binaryPath="Mon\73.Dat" offsetsPath="Mon\73.Mxx" />
    <PackedImages id="MON_074" binaryPath="Mon\74.Dat" offsetsPath="Mon\74.Mxx" />
    <PackedImages id="MON_075" binaryPath="Mon\75.Dat" offsetsPath="Mon\75.Mxx" />
    <PackedImages id="MON_076" binaryPath="Mon\76.Dat" offsetsPath="Mon\76.Mxx" />
    <PackedImages id="MON_077" binaryPath="Mon\77.Dat" offsetsPath="Mon\77.Mxx" />
    <PackedImages id="MON_078" binaryPath="Mon\78.Dat" offsetsPath="Mon\78.Mxx" />
    <PackedImages id="MON_079" binaryPath="Mon\79.Dat" offsetsPath="Mon\79.Mxx" />
    <PackedImages id="MON_080" binaryPath="Mon\80.Dat" offsetsPath="Mon\80.Mxx" />
    <PackedImages id="MON_081" binaryPath="Mon\81.Dat" offsetsPath="Mon\81.Mxx" />
    <PackedImages id="MON_082" binaryPath="Mon\82.Dat" offsetsPath="Mon\82.Mxx" />
    <PackedImages id="MON_083" binaryPath="Mon\83.Dat" offsetsPath="Mon\83.Mxx" />
    <PackedImages id="MON_084" binaryPath="Mon\84.Dat" offsetsPath="Mon\84.Mxx" />
    <PackedImages id="MON_085" binaryPath="Mon\85.Dat" offsetsPath="Mon\85.Mxx" />
    <PackedImages id="MON_086" binaryPath="Mon\86.Dat" offsetsPath="Mon\86.Mxx" />
    <PackedImages id="MON_087" binaryPath="Mon\87.Dat" offsetsPath="Mon\87.Mxx" />
    <PackedImages id="MON_088" binaryPath="Mon\88.Dat" offsetsPath="Mon\88.Mxx" />
    <PackedImages id="MON_089" binaryPath="Mon\89.Dat" offsetsPath="Mon\89.Mxx" />
    <PackedImages id="MON_090" binaryPath="Mon\90.Dat" offsetsPath="Mon\90.Mxx" />
    <PackedImages id="MON_091" binaryPath="Mon\91.Dat" offsetsPath="Mon\91.Mxx" />
    <PackedImages id="MON_092" binaryPath="Mon\92.Dat" offsetsPath="Mon\92.Mxx" />
    <PackedImages id="MON_093" binaryPath="Mon\93.Dat" offsetsPath="Mon\93.Mxx" />
    <PackedImages id="MON_094" binaryPath="Mon\94.Dat" offsetsPath="Mon\94.Mxx" />
    <PackedImages id="MON_095" binaryPath="Mon\95.Dat" offsetsPath="Mon\95.Mxx" />
    <PackedImages id="MON_096" binaryPath="Mon\96.Dat" offsetsPath="Mon\96.Mxx" />
    <PackedImages id="MON_097" binaryPath="Mon\97.Dat" offsetsPath="Mon\97.Mxx" />
    <PackedImages id="MON_098" binaryPath="Mon\98.Dat" offsetsPath="Mon\98.Mxx" />
    <PackedImages id="MON_099" binaryPath="Mon\99.Dat" offsetsPath="Mon\99.Mxx" />
    <PackedImages id="MON_100" binaryPath="Mon\100.Dat" offsetsPath="Mon\100.Mxx" />
    <PackedImages id="MON_101" binaryPath="Mon\101.Dat" offsetsPath="Mon\101.Mxx" />
    <PackedImages id="MON_102" binaryPath="Mon\102.Dat" offsetsPath="Mon\102.Mxx" />
    <PackedImages id="MON_103" binaryPath="Mon\103.Dat" offsetsPath="Mon\103.Mxx" />
    <PackedImages id="MON_104" binaryPath="Mon\104.Dat" offsetsPath="Mon\104.Mxx" />
    <PackedImages id="MON_105" binaryPath="Mon\105.Dat" offsetsPath="Mon\105.Mxx" />
    <PackedImages id="MON_106" binaryPath="Mon\106.Dat" offsetsPath="Mon\106.Mxx" />
    <PackedImages id="MON_107" binaryPath="Mon\107.Dat" offsetsPath="Mon\107.Mxx" />
    <PackedImages id="MON_108" binaryPath="Mon\108.Dat" offsetsPath="Mon\108.Mxx" />
    <PackedImages id="MON_109" binaryPath="Mon\109.Dat" offsetsPath="Mon\109.Mxx" />
    <PackedImages id="MON_110" binaryPath="Mon\110.Dat" offsetsPath="Mon\110.Mxx" />
    <PackedImages id="MON_111" binaryPath="Mon\111.Dat" offsetsPath="Mon\111.Mxx" />
    <PackedImages id="MON_112" binaryPath="Mon\112.Dat" offsetsPath="Mon\112.Mxx" />
    <PackedImages id="MON_113" binaryPath="Mon\113.Dat" offsetsPath="Mon\113.Mxx" />
    <PackedImages id="MON_114" binaryPath="Mon\114.Dat" offsetsPath="Mon\114.Mxx" />
    <PackedImages id="MON_115" binaryPath="Mon\115.Dat" offsetsPath="Mon\115.Mxx" />
    <PackedImages id="MON_116" binaryPath="Mon\116.Dat" offsetsPath="Mon\116.Mxx" />
    <PackedImages id="MON_117" binaryPath="Mon\117.Dat" offsetsPath="Mon\117.Mxx" />
    <PackedImages id="MON_118" binaryPath="Mon\118.Dat" offsetsPath="Mon\118.Mxx" />
    <PackedImages id="MON_119" binaryPath="Mon\119.Dat" offsetsPath="Mon\119.Mxx" />
    <PackedImages id="MON_120" binaryPath="Mon\120.Dat" offsetsPath="Mon\120.Mxx" />
</Textures>
